* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

header {
 height: 15%;
 width: 100%;
 background-color: #575757;
}

div {
  width: 100%;
  height: 85%;
}

.left {
  background-color: #a8a8a8;
  height: 100%;
  float: left;
  width: 20%;
}

.middle {
  height: 100%;
  width: 60%;
  float: left;
}


.right {
  background-color: #a8a8a8;
  height: 100%;
  float: left;
  width: 20%;
}

.middletop {
  background-color: #ffffff;
  height: 90%;
  width: 100%;
}

footer {
  height: 10%;
  width: 100%;
  background-color: black;
  margin: auto;


}
